<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-VictorRegueira/blob/main/IBM_Curso/IBM_Python_Mod4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Módulo 4

Víctor Alejandro Regueira Romero - A01794404

## **Video de Youtube:** Python Object Oriented Programming (OOP) - For Beginners

In [ ]:
x = 1
print(type('hello'))

<class 'str'>

In [ ]:
print(type(x))

<class 'int'>

Ya usamos objetos cuando programamos, porque referímos librerías que ya se encuentran cargadas en python.

In [ ]:
def hello():
  print('hello')
print(type(hello()))

hello
<class 'NoneType'>

In [ ]:
print(type(hello))

<class 'function'>

In [ ]:
#print(1 + 'hello')

No podemos combinar tipos de variables de int a str

In [ ]:
string_v ='hello'
print(string_v.upper())

HELLO

Método especial para variables de tipo Stirng

In [ ]:
class Dog:
  def __init__(self, name):
    self.name = name
    print(name)
    
  def bark(self):
    print('bark')

In [ ]:
d = Dog('Teddy')
print(type(d))

Teddy
<class '__main__.Dog'>

Creand un objeto

In [ ]:
d2 = Dog('Tim')

Tim

## IBM Course

In [ ]:
import pandas as pd

df = pd.read_csv("TopSellingAlbums.csv")
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [ ]:
df.iloc[1,0]
#df.ix[1,0]

'AC/DC'

In [ ]:
import pandas as banana
df2=banana.DataFrame({'a':[11,21,31],
                      'b':[21,22,23]})

df2.head()

    a   b
0  11  21
1  21  22
2  31  23

In [ ]:
q = df[['Rating']]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

In [ ]:
# Write your code below and press Shift+Enter to execute
q = df[['Released','Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

In [ ]:
df.iloc[1,2]

1980

In [ ]:
new_index=['a','b','c','d','e','f','g','h']

df_new = df
df_new.index = new_index
df_new.loc['a','Artist']
df_new.loc['a':'d','Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object

In [ ]:
df['Released'].unique()

array([1982, 1980, 1973, 1992, 1977, 1976])

In [ ]:
df1 = df[df['Released']>=1980]
df1

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
a,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
b,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
d,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5

In [ ]:
dfz=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
dfz['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

In [ ]:
df.to_csv("file.csv")

## Labs

### Download Data



Uncomment these if working locally, else let the following code cell run.

​

import urllib.request

url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt'

filename = 'Example1.txt'
urllib.request.urlretrieve(url, filename)

​

### Download Example file

!wget -O /resources/data/Example1.txt https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt

from pyodide.http import pyfetch

import pandas as pd

​

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt"

​

async def download(url, filename):

    response = await pyfetch(url)

    if response.status == 200:

        with open(filename, "wb") as f:

            f.write(await response.bytes())

​

​

await download(filename, "Example1.txt")

Reading Text Files

One way to read or write a file in Python is to use the built-in open function. The open function provides a File object that contains the methods and attributes you need in order to read, save, and manipulate the file. In this notebook, we will only cover .txt files. The first parameter you need is the file path and the file name. An example is shown as follow:
Image

The mode argument is optional and the default value is r. In this notebook we only cover two modes:

    **r**: Read mode for reading files
    **w**: Write mode for writing files

For the next example, we will use the text file Example1.txt. The file is shown as follows:
Image

We read the file:

Read the Example1.txt

example1 = "Example1.txt"

file1 = open(example1, "r")

​

We can view the attributes of the file.

The name of the file:

Print the path of file

​

file1.name

'Example1.txt'

The mode the file object is in:

Print the mode of file, either 'r' or 'w'

​

file1.mode

'r'

We can read the file and assign it to a variable :

Read the file

​

FileContent = file1.read()

FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

The /n means that there is a new line.

We can print the file:

Print the file with '\n' as a new line

​

print(FileContent)

This is line 1 
This is line 2
This is line 3

The file is of type string:

Type of file content

​

type(FileContent)

str

It is very important that the file is closed in the end. This frees up resources and ensures consistency across different python versions.

Close file after finish

​

file1.close()

A Better Way to Open a File

Using the with statement is better practice, it automatically closes the file even if the code encounters an exception. The code will run everything in the indent block then close the file object.

Open file using with

​

with open(example1, "r") as file1:

    FileContent = file1.read()

    print(FileContent)

This is line 1 
This is line 2
This is line 3

The file object is closed, you can verify it by running the following cell:

Verify if the file is closed

​

file1.closed

True

We can see the info in the file:

See the content of file

​

print(FileContent)

This is line 1 
This is line 2
This is line 3

The syntax is a little confusing as the file object is after the as statement. We also don’t explicitly close the file. Therefore we summarize the steps in a figure:
Image

We don’t have to read the entire file, for example, we can read the first 4 characters by entering three as a parameter to the method .read():

Read first four characters

​

with open(example1, "r") as file1:

    print(file1.read(4))

This

Once the method .read(4) is called the first 4 characters are called. If we call the method again, the next 4 characters are called. The output for the following cell will demonstrate the process for different inputs to the method read():

Read certain amount of characters

​

with open(example1, "r") as file1:

    print(file1.read(4))

    print(file1.read(4))

    print(file1.read(7))

    print(file1.read(15))

This
 is 
line 1 

This is line 2

The process is illustrated in the below figure, and each color represents the part of the file read after the method read() is called:
Image

Here is an example using the same file, but instead we read 16, 5, and then 9 characters at a time:

Read certain amount of characters

​

with open(example1, "r") as file1:

    print(file1.read(16))

    print(file1.read(5))

    print(file1.read(9))

This is line 1 

This 
is line 2

We can also read one line of the file at a time using the method readline():

Read one line

​

with open(example1, "r") as file1:

    print("first line: " + file1.readline())

first line: This is line 1 

We can also pass an argument to  readline() to specify the number of charecters we want to read. However, unlike  read(),  readline() can only read one line at most.

with open(example1, "r") as file1:

    print(file1.readline(20)) # does not read past the end of line

    print(file1.read(20)) # Returns the next 20 chars

​

This is line 1 

This is line 2
This 

We can use a loop to iterate through each line:

Iterate through the lines

​

with open(example1,"r") as file1:

        i = 0;

        for line in file1:

            print("Iteration", str(i), ": ", line)

            i = i + 1

Iteration 0 :  This is line 1 

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

We can use the method readlines() to save the text file to a list:

Read all lines and save as a list

​

with open(example1, "r") as file1:

    FileasList = file1.readlines()

Each element of the list corresponds to a line of text:

Print the first line

​

FileasList[0]

'This is line 1 \n'

Print the second line

FileasList[1]

Print the third line

​

FileasList[2]

'This is line 3'

### Write File Exercise

Your local university's Raptors fan club maintains a register of its active members on a .txt document. Every month they update the file by removing the members who are not active. You have been tasked with automating this with your Python skills.
Given the file currentMem, Remove each member with a 'no' in their Active column. Keep track of each of the removed members and append them to the exMem file. Make sure that the format of the original files in preserved. (Hint: Do this by reading/writing whole lines and ensuring the header remains )
Run the code block below prior to starting the exercise. The skeleton code has been provided for you. Edit only the cleanFiles function.

Run this prior to starting the exercise

from random import randint as rnd

​

memReg = 'members.txt'

exReg = 'inactive.txt'

fee =('yes','no')

​

def genFiles(current,old):

    with open(current,'w+') as writefile: 

        writefile.write('Membership No  Date Joined  Active  \n')

        data = "{:^13}  {:<11}  {:<6}\n"

​

        for rowno in range(20):

            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))

            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))

​

​

    with open(old,'w+') as writefile: 

        writefile.write('Membership No  Date Joined  Active  \n')

        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(3):

            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))

            writefile.write(data.format(rnd(10000,99999),date,fee[1]))

​

​

genFiles(memReg,exReg)

​

Now that you've run the prerequisite code cell above, which prepared the files for this exercise, you are ready to move on to the implementation.
Exercise: Implement the cleanFiles function in the code cell below.

def cleanFiles(currentMem,exMem):

    with open(currentMem,'r+') as writeFile: 

        with open(exMem,'a+') as appendFile:

            #get the data

            writeFile.seek(0)

            members = writeFile.readlines()

            #remove header

            header = members[0]

            members.pop(0)

                

            inactive = [member for member in members if ('no' in member)]

            '''

            The above is the same as 

​

            for member in members:

            if 'no' in member:

                inactive.append(member)

            '''

            #go to the beginning of the write file

            writeFile.seek(0) 

            writeFile.write(header)

            for member in members:

                if (member in inactive):

                    appendFile.write(member)

                else:

                    writeFile.write(member)      

            writeFile.truncate()

                

memReg = 'members.txt'

exReg = 'inactive.txt'

cleanFiles(memReg,exReg)

​

code to help you see the files

​

headers = "Membership No  Date Joined  Active  \n"

​

with open(memReg,'r') as readFile:

    print("Active Members: \n\n")

    print(readFile.read())

    

with open(exReg,'r') as readFile:

    print("Inactive Members: \n\n")

    print(readFile.read())

    

Active Members: 


Membership No  Date Joined  Active  
    58349      2016-1-16    yes   
    30539      2016-2-13    yes   
    35587      2018-9-12    yes   
    28113      2018-8-9     yes   
    28648      2017-9-7     yes   
    82443      2018-3-23    yes   
    24397      2019-1-13    yes   
    22441      2020-7-3     yes   
    14567      2020-1-6     yes   
    80546      2016-6-6     yes   

Inactive Members: 


Membership No  Date Joined  Active  
    51596      2015-7-3     no    
    60240      2015-10-1    no    
    28832      2015-4-19    no    
    21317      2020-12-19   no    
    76875      2017-11-2    no    
    16523      2018-4-11    no    
    31221      2016-8-14    no    
    50439      2019-7-14    no    
    85601      2020-11-16   no    
    81620      2015-12-21   no    
    58808      2015-5-2     no    
    49984      2018-2-22    no    
    72479      2016-5-8     no    

The code cell below is to verify your solution. Please do not modify the code and run it to test your implementation of cleanFiles.

def testMsg(passed):

    if passed:

       return 'Test Passed'

    else :

       return 'Test Failed'

​

testWrite = "testWrite.txt"

testAppend = "testAppend.txt" 

passed = True

​

genFiles(testWrite,testAppend)

​

with open(testWrite,'r') as file:

    ogWrite = file.readlines()

​

with open(testAppend,'r') as file:

    ogAppend = file.readlines()

​

try:

    cleanFiles(testWrite,testAppend)

except:

    print('Error')

​

with open(testWrite,'r') as file:

    clWrite = file.readlines()

​

with open(testAppend,'r') as file:

    clAppend = file.readlines()

        

checking if total no of rows is same, including headers

​

if (len(ogWrite) + len(ogAppend) != len(clWrite) + len(clAppend)):

    print("The number of rows do not add up. Make sure your final files have the same header and format.")

    passed = False

    

for line in clWrite:

    if  'no' in line:

        passed = False

        print("Inactive members in file")

        break

    else:

        if line not in ogWrite:

            print("Data in file does not match original file")

            passed = False

print ("{}".format(testMsg(passed)))

    

​

​

Test Passed